<div ng-controller='ModelVozilaController'>
<h1>ModelVozila</h1>

<input type="text" class="form-control ng-valid ng-dirty" placeholder="Pretraga" data-ng-model="searchKeyword">

<table class="table table-hover">
	<thead>
		<tr>
				<td><a data-ng-click="sortType = 'naziv'">Naziv<span
					data-ng-show="sortType == 'naziv'" class="fa fa-caret-down"></span>
				</a></td>
				<td><a data-ng-click="sortType = 'tipPrikljucka.naziv'">Naziv <span
					data-ng-show="sortType == 'tipPrikljucka.naziv'" class="fa fa-caret-down"></span>
				</a></td>
				<td><a data-ng-click="sortType = 'markaVozila.naziv'">Naziv <span
					data-ng-show="sortType == 'markaVozila.naziv'" class="fa fa-caret-down"></span>
				</a></td>
		</tr>
	</thead>

	<tbody>

		<tr data-ng-repeat="x in modelVozilaList | orderBy:sortType:sortReverse | filter:filterFunction ">
					<td>{{x.naziv }}</td>
					<td>{{x.tipPrikljucka.naziv}}</td>
					<td>{{x.markaVozila.naziv}}</td>
			
			<td>
				<button type="button" class="btn btn-info" data-ng-click="openUpdateModal(x)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger" data-ng-click="deleteModelVozila(x)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<button type="button" class="btn btn-info" data-ng-click="openCreateModal()">Dodaj</button>

<div id="createModelVozilaModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Dodavanje</h4>
			</div>
			<div class="modal-body">
				<form name="createForm">
							<input type="text" placeholder="Naziv" data-ng-model="modelVozila.naziv" maxlength="30" required><br>
						<select name="selectTipPrikljucka" id="selectTipPrikljucka" ng-model="modelVozila.tipPrikljucka.id" required>
							<option ng-repeat="x in tipPrikljuckaList" value="{{x.id}}">
							{{x.naziv}} 
							</option>
						</select>
						<select name="selectMarkaVozila" id="selectMarkaVozila" ng-model="modelVozila.markaVozila.id" required>
							<option ng-repeat="x in markaVozilaList" value="{{x.id}}">
							{{x.naziv}} 
							</option>
						</select>
				<br>
				</form>
			</div>
			<div class="modal-footer">
				<button data-ng-click="createModelVozila()" class="btn btn-primary" data-ng-disabled="!createForm.$valid">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>

<div id="updateModelVozilaModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Izmena</h4>
			</div>
			<div class="modal-body">
				<form name="updateForm">
							<input type="text" placeholder="Naziv" data-ng-model="modelVozila.naziv"  required><br>
						<select id="updateSelectTipPrikljucka" required>
							<option data-ng-repeat="x in tipPrikljuckaList" value="{{x.id}}">
								{{x.naziv}} 
							</option>
						</select>
						<select id="updateSelectMarkaVozila" required>
							<option data-ng-repeat="x in markaVozilaList" value="{{x.id}}">
								{{x.naziv}} 
							</option>
						</select>
				<br>
				</form>
			</div>
			<div class="modal-footer">
				<button data-ng-click="updateModelVozila()" class="btn btn-primary" data-ng-disabled="!updateForm.$valid">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>
</div>