<div ng-controller='VoziloController'>
<h1>Vozilo</h1>

<table class="table table-hover">
	<thead>
		<tr>
				<td><a data-ng-click="sortType = 'registracioniBroj'">registracioniBroj<span
					data-ng-show="sortType == 'registracioniBroj'" class="fa fa-caret-down"></span>
				</a></td>
		</tr>
	</thead>

	<tbody>

		<tr data-ng-repeat="x in voziloList | orderBy:sortType:sortReverse">
					<td>{{x.registracioniBroj}}</td>
			
			<td>
				<button type="button" class="btn btn-info" data-ng-click="openUpdateModal(x)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger" data-ng-click="deleteVozilo(x)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<button type="button" class="btn btn-info" data-ng-click="openCreateModal()">Dodaj</button>

<div id="createVoziloModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Dodavanje</h4>
			</div>
			<div class="modal-body">
							<input type="text" placeholder="registracioniBroj" data-ng-model="vozilo.registracioniBroj" ><br>
						<select name="selectKartica" id="selectKartica" ng-model="vozilo.kartica.id">
							<option ng-repeat="x in karticaList" value="{{x.id}}">
								{{x.id}}
							</option>
						</select>
				<br>
			</div>
			<div class="modal-footer">
				<button data-ng-click="createVozilo()" class="btn btn-primary">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>

<div id="updateVoziloModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Izmena</h4>
			</div>
			<div class="modal-body">
							<input type="text" placeholder="registracioniBroj" data-ng-model="vozilo.registracioniBroj"><br>
				<br>
			</div>
			<div class="modal-footer">
				<button data-ng-click="updateVozilo()" class="btn btn-primary">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>
</div>